<div class="accordion" id="character-accordion">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#first-character" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
        First Character Idea
      </button>
    </h2>
    <div id="first-character" class="accordion-collapse collapse">
      <div class="accordion-body">
        This is the description of the first character idea
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#second-character" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
        Second Character Idea
      </button>
    </h2>
    <div id="second-character" class="accordion-collapse collapse">
      <div class="accordion-body">
        This is the description of the second character idea
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#third-character" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
        Third Character Idea
      </button>
    </h2>
    <div id="third-character" class="accordion-collapse collapse">
      <div class="accordion-body">
        This is the description of the third character idea
      </div>
    </div>
  </div>
</div>