<div class="modal fade" id="edit-quest" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel"> Create a new Quest! </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
            <div class="mb-3">
                <lable class="form-label">Quest Name</lable>
                <input class="form-control" type="text" id="name-input">
            </div>
            <div class="mb-3">
                <lable class="form-label">Description</lable>
                <textarea class="form-control" type="text" id="description-input"></textarea>
            </div>
            <div class="mb-3">
                <lable class="form-label">Quest Giver</lable>
                <input class="form-control" type="text" id="quest-giver-input">
            </div>
            <div class="mb-3">
                <lable class="form-label">Quest Location</lable>
                <input class="form-control" type="text" id="location-input">
            </div>
            <div class="mb-3">
                <lable class="form-label">Rewards</lable>
                <textarea class="form-control" type="text" id="rewards-input"></textarea>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" id="submit-edits">Edit Quest!</button>
      </div>
    </div>
  </div>
</div>

<script src="/js/edit-quest.js"></script>