{{!-- partials/partial.handlebars --}}

{{#*header}}
<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
</header>
{{/header}}

{{!-- You can define other partials here as well --}}