<div class="accordion" id="rule-accordion">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#first-rule" aria-expanded="false" aria-controls="first-rule">
        First rule Idea
      </button>
    </h2>
    <div id="first-rule" class="accordion-collapse collapse">
      <div class="accordion-body">
        This is the description of the first rule idea
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#second-rule" aria-expanded="false" aria-controls="second-rule">
        Second rule Idea
      </button>
    </h2>
    <div id="second-rule" class="accordion-collapse collapse">
      <div class="accordion-body">
        This is the description of the second rule idea
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#third-rule" aria-expanded="false" aria-controls="third-rule">
        Third rule Idea
      </button>
    </h2>
    <div id="third-rule" class="accordion-collapse collapse">
      <div class="accordion-body">
        This is the description of the third rule idea
      </div>
    </div>
  </div>
</div>