<div>
    <div class="card about" style="width: 80%; margin: 0 auto;">
        <h2 style="text-align: center;">About DMs & DMs:</h2>
        <div class="description">
            <p style="margin: 5px;">
                DMs & DMs is a social media platform where Dungeon Masters (DMs) can share ideas for their Dungeons and Dragon games.
                DMs can share their character, quest, story and rule ideas with other DMs on this platform. DMs are even able to give feedback
                in the form of comments!
            </p>
            <p style="margin: 5px;">
                Join this comunity of fellow DMs and help one another to build memorable D&D sessions! We hope that y'all enjoy!
            </p>
        </div>
    </div>
    <div class="card about" style="width: 80%; margin: 0 auto; margin-top: 20px;">
        <h3 style="margin: 10px;">
            DMs & DMs was created by a team of six full-stack web developers who wanted to help DMs around the world with their D&D sessions.
        </h3>
        <div class="developer">
            <h4>Bridget Rice:</h4>
            <p>
                A description for Bridget
            </p>
        </div>
        <div class="developer">
            <h4>Jocelyn Dell Castillo:</h4>
            <p>
                Hello from Austin, Texas! I enjoy staying active and being apart of the software industry.
            </p>
        </div>
        <div class="developer">
            <h4>Joseph Ruiz:</h4>
            <p>
                A description for Joseph
            </p>
        </div>
        <div class="developer">
            <h4>Nick Ramos:</h4>
            <p>
                A description for Nick
            </p>
        </div>
        <div class="developer">
            <h4>Noah McKinzie:</h4>
            <p>
                A description for Noah
            </p>
        </div>
        <div class="developer">
            <h4>Ethan Owens:</h4>
            <p>
                Ethan is a public school teacher and has been coding for about half a year now.
                He has a wife and kid and he found working on this project to be very rewarding!
                Ethan hopes to find a career in artificial intellegence and usher in the reign of the AI overlords!
            </p>
        </div>
    </div>
</div>