<link rel="stylesheet" href="/css/card.css">
<body>
    <header>
        <h1>artifact Cards</h1>
        <a href="/cards" class="back-button">Back to Main</a>
    </header>
    <main>
        <div class="card-container">
            <div class="card">
                <img class="card-img" src="/images/artifact/bagofholding.png" alt="">
                <img class="card-img" src="/images/artifact/dungeonmap.png" alt="">
                <img class="card-img" src="/images/artifact/eyeofvecna.png" alt="">
                <img class="card-img" src="/images/artifact/eyeofvecnaa.png" alt="">
                <img class="card-img" src="/images/artifact/fiftyfeetofrope.png" alt="">
                <img class="card-img" src="/images/artifact/greataxe.png" alt="">
                <img class="card-img" src="/images/artifact/handofvecna.png" alt="">
                <img class="card-img" src="/images/artifact/handofvecnaa.png" alt="">
                <img class="card-img" src="/images/artifact/Irongolem.png" alt="">
                <img class="card-img" src="/images/artifact/irongolemm.png" alt="">
                <img class="card-img" src="/images/artifact/leatherarmor.png" alt="">
                <img class="card-img" src="/images/artifact/mimc.png" alt="">
                <img class="card-img" src="/images/artifact/sparedagger.png" alt="">
                <img class="card-img" src="/images/artifact/spikedpittrap.png" alt="">
                <img class="card-img" src="/images/artifact/thedeckofmanythings.png" alt="">
                <img class="card-img" src="/images/artifact/thedeckofmanythingss.png" alt="">
                <img class="card-img" src="/images/artifact/treasurechest.png" alt="">
                <img class="card-img" src="/images/artifact/treasurechestt.png" alt="">
                <img class="card-img" src="/images/artifact/treasurechesttt.png" alt="">
        </div>
    </main>
</body>