<link rel="stylesheet" href="/css/card.css">
<body>
    <header>
        <h1>blue Cards</h1>
        <a href="/cards" class="back-button">Back to Main</a>
    </header>
    <main>
        <div class="card-container">
            <div class="card">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                
                
                

            </div>
        </div>
    </main>
</body>