<link rel="stylesheet" href="/css/card.css">
<body>
    <header>
        <h1>blue Cards</h1>
        <a href="/cards" class="back-button">Back to Main</a>
    </header>
    <main>
        <div class="card-container">
            <div class="card">
                <img class="card-img" src="/images/blue/aberrantmindsorcerer.png" alt="">
                <img class="card-img" src="/images/blue/aircultelemental.png" alt="">
                <img class="card-img" src="/images/blue/arcaneendeavor.png" alt="">
                <img class="card-img" src="/images/blue/arcaneinvestigator.png" alt="">
                <img class="card-img" src="/images/blue/barthegate.png" alt="">
                <img class="card-img" src="/images/blue/bluedragon.png" alt="">
                <img class="card-img" src="/images/blue/bluedragonn.png" alt="">
                <img class="card-img" src="/images/blue/charmedsleep.png" alt="">
                <img class="card-img" src="/images/blue/cleverconjurer.png" alt="">
                <img class="card-img" src="/images/blue/contactotherplane.png" alt="">
                <img class="card-img" src="/images/blue/demilich.png" alt="">
                <img class="card-img" src="/images/blue/demilichh.png" alt="">
                <img class="card-img" src="/images/blue/displacerbeast.png" alt="">
                <img class="card-img" src="/images/blue/displacerbeastt.png" alt="">
                <img class="card-img" src="/images/blue/divinersportent.png" alt="">
                <img class="card-img" src="/images/blue/djinniwindseer.png" alt="">
                <img class="card-img" src="/images/blue/djinniwindseerr.png" alt="">
                <img class="card-img" src="/images/blue/dragonturtle.png" alt="">
                <img class="card-img" src="/images/blue/eccentricapprentice.png" alt="">
                <img class="card-img" src="/images/blue/feywildtrickstar.png" alt="">
                <img class="card-img" src="/images/blue/fly.png" alt="">
                <img class="card-img" src="/images/blue/grazilaxxillithidscholar.png" alt="">
                <img class="card-img" src="/images/blue/grazilaxxillithidscholarr.png" alt="">
                <img class="card-img" src="/images/blue/guildtheif.png" alt="">
                <img class="card-img" src="/images/blue/lymrithdesertdoom.png" alt="">
                <img class="card-img" src="/images/blue/lymrithdesertdoomm.png" alt="">
                <img class="card-img" src="/images/blue/mindflayer.png" alt="">
                <img class="card-img" src="/images/blue/mindflayerr.png" alt="">
                <img class="card-img" src="/images/blue/minnwilyillusionist.png" alt="">
                <img class="card-img" src="/images/blue/mordenkainen.png" alt="">
                <img class="card-img" src="/images/blue/mordenkainenn.png" alt="">
                <img class="card-img" src="/images/blue/mordenkainenspolymorph.png" alt="">
                <img class="card-img" src="/images/blue/netheresepuzzleward.png" alt="">
                <img class="card-img" src="/images/blue/phantomsteed.png" alt="">
                <img class="card-img" src="/images/blue/pixieguide.png" alt="">
                <img class="card-img" src="/images/blue/pixieguidee.png" alt="">
                <img class="card-img" src="/images/blue/powerofpersuasion.png" alt="">
                <img class="card-img" src="/images/blue/rayoffrost.png" alt="">
                <img class="card-img" src="/images/blue/rimeshieldfrostgiant.png" alt="">
                <img class="card-img" src="/images/blue/rimeshieldfrostgiantt.png" alt="">
                <img class="card-img" src="/images/blue/rodofabsorption.png" alt="">
                <img class="card-img" src="/images/blue/scionofstygia.png" alt="">
                <img class="card-img" src="/images/blue/secretdoor.png" alt="">
                <img class="card-img" src="/images/blue/shockinggrasp.png" alt="">
                <img class="card-img" src="/images/blue/shortcutseeker.png" alt="">
                <img class="card-img" src="/images/blue/silverraven.png" alt="">
                <img class="card-img" src="/images/blue/soulknifespy.png" alt="">
                <img class="card-img" src="/images/blue/splittheparty.png" alt="">
                <img class="card-img" src="/images/blue/suddentinsight.png" alt="">
                <img class="card-img" src="/images/blue/tashashideouslaughter.png" alt="">
                <img class="card-img" src="/images/blue/tashashideouslaughterr.png" alt="">
                <img class="card-img" src="/images/blue/theblackstaffofwaterdeep.png" alt="">
                <img class="card-img" src="/images/blue/theblackstaffofwaterdeepp.png" alt="">
                <img class="card-img" src="/images/blue/tricksterstailsman.png" alt="">
                <img class="card-img" src="/images/blue/truepolymorph.png" alt="">
                <img class="card-img" src="/images/blue/truepolymorphh.png" alt="">
                <img class="card-img" src="/images/blue/wingedboots.png" alt="">
                <img class="card-img" src="/images/blue/wizardclass.png" alt="">
                <img class="card-img" src="/images/blue/wizardsspellbook.png" alt="">
                <img class="card-img" src="/images/blue/wizardsspellbookk.png" alt="">
                <img class="card-img" src="/images/blue/youcometoriver.png" alt="">
                <img class="card-img" src="/images/blue/youfindthevillainslair.png" alt="">
                <img class="card-img" src="/images/blue/youfindthevillainsliar.png" alt="">
                <img class="card-img" src="/images/blue/youseeaguardapproach.png" alt="">
                <img class="card-img" src="/images/blue/yuantimalison.png" alt="">
                <img class="card-img" src="/images/blue/yuantimalisonn.png" alt="">
            </div>
        </div>
    </main>
</body>