<section>
    <title>D&D Card Directory</title>
    <link rel="stylesheet" href="/css/card.css">



        <h1>D&D Card Directory</h1>
  
    <div class = "background">
    </div>
        <div class="section-container">
            <h2 class="title">Select a Section</h2>
            <div class="section-buttons">
                <a href="/cards/white" class="btn btn-danger" style="margin: 5px;">White</a>
                <a href="/cards/blue" class="btn btn-danger" style="margin: 5px;">Blue</a>
                <a href="/cards/black" class="btn btn-danger" style="margin: 5px;">Black</a>
                <a href="/cards/red" class="btn btn-danger" style="margin: 5px;">Red</a>
                <a href="/cards/green" class="btn btn-danger" style="margin: 5px;">Green</a>
                <a href="/cards/multicolored" class="btn btn-danger" style="margin: 5px;">Multicolored</a>
                <a href="/cards/dungeon" class="btn btn-danger" style="margin: 5px;">Dungeon</a>
                <a href="/cards/artifact" class="btn btn-danger" style="margin: 5px;">Artifact</a>
                <a href="/cards/land" class="btn btn-danger" style="margin: 5px;">Land</a>
            </div>
        </div>
</section>
