<section>
    <title>D&D Card Directory</title>
    <link rel="stylesheet" href="/dms-and-dms/public/css/card.css">



        <h1>D&D Card Directory</h1>
  
    <div class = "background">
    </div>
        <div class="section-container">
            <h2 class="title">Select a Section</h2>
            <div class="section-buttons">
                <a href="white.handlebars" class="section-button">White</a>
                <a href="blue.handlebars" class="section-button">Blue</a>
                <a href="black.handlebars" class="section-button">Black</a>
                <a href="red.handlebars" class="section-button">Red</a>
                <a href="green.handlebars" class="section-button">Green</a>
                <a href="multicolored.handlebars" class="section-button">Multicolored</a>
                <a href="dungeon.handlebars" class="section-button">Dungeon</a>
                <a href="artifact.handlebars" class="section-button">Artifact</a>
                <a href="land.handlebars" class="section-button">Land</a>
            </div>
        </div>
</section>
