{{#each characterDataPlain as |Characters|}}
<a href="/characters/{{Characters.id}}" style="text-decoration: none;">
    <div class="card character-card">             
        <div style="display: flex; flex-direction: row; justify-content: space-around">
            <h3>{{Characters.name}}</h3>
            <h3>Created by: {{Characters.author}}</h3>
        </div>
        <p>{{Characters.description}}</p>
    </div>
</a>
{{/each}}