<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    {{> header}} <!-- Include the header partial -->

    <main>
        <div>
            <section>
                <h2>
                    Recent Submissions
                </h2>
                <p>
                    placeholder 
                </p>
            </section>
    
        </div>
        
    </main>

    <footer>
        <p>&copy; 2023 Your Company</p>
    </footer>
</body>
</html>