<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dice Roller</title>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
    <script src="/js/dice.js" defer></script>
</head>
<body>
    <div class="aligndice">
    <button id="dice-button" class="dice">
        <img src="/images/dice.png" alt="20-sided dice" />
    </button>
    
    <button id="6-button" class="dice">
        <img src="images/dice6.png" alt="6-sided dice"/>
    </button>

    <button id="8-button" class="dice">
        <img src="images/dice8.png" alt="8-sided dice"/>
    </button>

        <button id="12-button" class="dice">
        <img src="images/dice12.png" alt="12-sided dice"/>
    </button>

            <button id="4-button" class="dice">
        <img src="images/dice4.png" alt="4-sided dice"/>
    </button>
    </div>
</body>
</html>