<link rel="stylesheet" href="/css/card.css">
<body>
    <header>
        <h1>Dungeon Cards</h1>
        <a href="/cards" class="back-button">Back to Main</a>
    </header>
    <main>
        <div class="card-container">
            <div class="card">
               <img class="card-img" src="/images/dungeon/dungeonofthemadmage.png" alt="">
                <img class="card-img" src="/images/dungeon/lostmineofphandelver.png" alt="">
                <img class="card-img" src="/images/dungeon/tompofannihilation.png" alt="">
            </div>
        </div>
    </main>
</body>