<link rel="stylesheet" href="/css/card.css">
<body>
    <header>
        <h1>Green Cards</h1>
        <a href="/cards" class="back-button">Back to Main</a>
    </header>
    <main>
        <div class="card-container">
            <div class="card">
                <img class="card-img" src="/images/green/bagoftricks.png" alt="">
                <img class="card-img" src="/images/green/beltofgiantstrength.png" alt="">
                <img class="card-img" src="/images/green/bulette.png" alt="">
                <img class="card-img" src="/images/green/bulettee.png" alt="">
                <img class="card-img" src="/images/green/bullsstrength.png" alt="">
                <img class="card-img" src="/images/green/chooseyourweapon.png" alt="">
                <img class="card-img" src="/images/green/circleofdreamsdruid.png" alt="">
                <img class="card-img" src="/images/green/circleofdreamsdruidd.png" alt="">
                <img class="card-img" src="/images/green/circleofthemoondruid.png" alt="">
                <img class="card-img" src="/images/green/compelledduel.png" alt="">
                <img class="card-img" src="/images/green/direwolfprowler.png" alt="">
                <img class="card-img" src="/images/green/direwolfprowlerr.png" alt="">
                <img class="card-img" src="/images/green/druidclass.png" alt="">
                <img class="card-img" src="/images/green/druidofpurification.png" alt="">
                <img class="card-img" src="/images/green/ellywicktumblestrum.png" alt="">
                <img class="card-img" src="/images/green/ellywicktumblestrumm.png" alt="">
                <img class="card-img" src="/images/green/elturgardranger.png" alt="">
                <img class="card-img" src="/images/green/findthepath.png" alt="">
                <img class="card-img" src="/images/green/froghemoth.png" alt="">
                <img class="card-img" src="/images/green/froghemothh.png" alt="">
                <img class="card-img" src="/images/green/gnollhunter.png" alt="">
                <img class="card-img" src="/images/green/gnollhunterr.png" alt="">
                <img class="card-img" src="/images/green/greendragon.png" alt="">
                <img class="card-img" src="/images/green/greendragonn.png" alt="">
                <img class="card-img" src="/images/green/hillgiantherdgorger.png" alt="">
                <img class="card-img" src="/images/green/huntermark.png" alt="">
                <img class="card-img" src="/images/green/indomitablemight.png" alt="">
                <img class="card-img" src="/images/green/inspiringbard.png" alt="">
                <img class="card-img" src="/images/green/instrumentofthebards.png" alt="">
                <img class="card-img" src="/images/green/instrumentofthebardss.png" alt="">
                <img class="card-img" src="/images/green/intrepidoutlander.png" alt="">
                <img class="card-img" src="/images/green/loathsometroll.png" alt="">
                <img class="card-img" src="/images/green/loathsometrolll.png" alt="">
                <img class="card-img" src="/images/green/longrest.png" alt="">
                <img class="card-img" src="/images/green/longrestt.png" alt="">
                <img class="card-img" src="/images/green/lurkingroper.png" alt="">
                <img class="card-img" src="/images/green/lurkingroperr.png" alt="">
                <img class="card-img" src="/images/green/neverwinterdryad.png" alt="">
                <img class="card-img" src="/images/green/neverwinterhydra.png" alt="">
                <img class="card-img" src="/images/green/ochrejelly.png" alt="">
                <img class="card-img" src="/images/green/ochrejellyy.png" alt="">
                <img class="card-img" src="/images/green/oldgnawbone.png" alt="">
                <img class="card-img" src="/images/green/oldgnawbonee.png" alt="">
                <img class="card-img" src="/images/green/owlbear.png" alt="">
                <img class="card-img" src="/images/green/owlbearr.png" alt="">
                <img class="card-img" src="/images/green/plummet.png" alt="">
                <img class="card-img" src="/images/green/prosperousinnkeeper.png" alt="">
                <img class="card-img" src="/images/green/prosperousinnkeeperr.png" alt="">
                <img class="card-img" src="/images/green/purpleworm.png" alt="">
                <img class="card-img" src="/images/green/purplewormm.png" alt="">
                <img class="card-img" src="/images/green/rangerclass.png" alt="">
                <img class="card-img" src="/images/green/rangerslongbow.png" alt="">
                <img class="card-img" src="/images/green/scaledherbalist.png" alt="">
                <img class="card-img" src="/images/green/sonofinspiration.png" alt="">
                <img class="card-img" src="/images/green/spoilsofthehunt.png" alt="">
                <img class="card-img" src="/images/green/sylvanshepherd.png" alt="">
                <img class="card-img" src="/images/green/thetarrasque.png" alt="">
                <img class="card-img" src="/images/green/thetarrasquee.png" alt="">
                <img class="card-img" src="/images/green/underdarkbasilisk.png" alt="">
                <img class="card-img" src="/images/green/undersarkbasilisk.png" alt="">
                <img class="card-img" src="/images/green/wanderingtroubadour.png" alt="">
                <img class="card-img" src="/images/green/werewolfpackleader.png" alt="">
                <img class="card-img" src="/images/green/werewolfpackleaderr.png" alt="">
                <img class="card-img" src="/images/green/wildendeavor.png" alt="">
                <img class="card-img" src="/images/green/wildshape.png" alt="">
                <img class="card-img" src="/images/green/yarissilverymoonranger.png" alt="">
                <img class="card-img" src="/images/green/yarissilverymoonrangerr.png" alt="">
                <img class="card-img" src="/images/green/youfindacursedidol.png" alt="">
                <img class="card-img" src="/images/green/youhappenonaglade.png" alt="">
                <img class="card-img" src="/images/green/youmeetinatavern.png" alt="">
            </div>
        </div>
    </main>
</body>