<section id="display"></section>
    <h2 style="text-align: center;">Need ideas? We got you covered!</h2>
        <div class="options">
            <div class="card option-card">
                <a href="/characters"><h3>Characters!</h3></a>
            </div>
            <div class="card option-card">
                <a href="/quests"><h3>Quests!</h3></a>
            </div>
            <div class="card option-card">
                <a href="/stories"><h3>Stories!</h3></a>
            </div>
            <div class="card option-card">
                <a href="/rules"><h3>Rules!</h3></a>
            </div>
        </div>
</section>