<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<section id="display"></section>
    <h2></h2>
        <div class="Options">
            <a href="/Characterdisplay"><h3></h3>
            </a>
            <a href="/Questdisplay">
                <div><h3></h3></div>
            </a>
            <a href="/Storydisplay">
                <div><h3></h3></div>
            </a>
            <a href="/Rulesdisplay">
                <div><h3></h3></div>
            </a>
            </div>
</section>

<footer>
    <nav>
        <ul>
            <p>&copy; {{copywright}} {{siteName}}. Happy Gaming.</p>
            <p><a href="/privacy">Privacy Policy</a></p>
        </ul>
    </nav>
</footer>