<section id="display"></section>
    <h2 style="text-align: center;">Need ideas? We got you covered!</h2>
        <div class="options">
            <div class="card option-card">
                <a href="/characters" style="text-decoration: none; color: red"><h3>Characters!</h3></a>
                {{> character-accordion}}
            </div>
            <div class="card option-card">
                <a href="/quests" style="text-decoration: none; color: red"><h3>Quests!</h3></a>
                {{> quest-accordion}}
            </div>
            <div class="card option-card">
                <a href="/stories" style="text-decoration: none; color: red"><h3>Stories!</h3></a>
                {{> story-accordion}}
            </div>
            <div class="card option-card">
                <a href="/rules" style="text-decoration: none; color: red"><h3>Rules!</h3></a>
                {{> rules-accordion}}
            </div>
        </div>
</section>