<section id="display"></section>
    <h2></h2>
        <div class="Options">
            <a href="/Characterdisplay"><h3></h3>
            </a>
            <a href="/Questdisplay">
                <div><h3></h3></div>
            </a>
            <a href="/Storydisplay">
                <div><h3></h3></div>
            </a>
            <a href="/Rulesdisplay">
                <div><h3></h3></div>
            </a>
            </div>
</section>