<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Land Cards</title>
    <link rel="stylesheet" href="./assets/css/style.css">
</head>
<body>
    <header>
        <h1>land Cards</h1>
        <a href="cards.handlebars" class="back-button">Back to Main</a>
    </header>
    <main>
        <div class="card-container">
            <div class="card">
                <img src="images/white_card1.jpg" alt="White Card 1">
                <h2>White Card 1</h2>
                <p>Description of White Card 1.</p>
            </div>
            <div class="card">
                <img src="images/white_card2.jpg" alt="White Card 2">
                <h2>White Card 2</h2>
                <p>Description of White Card 2.</p>
            </div>
        </div>
    </main>
    <script src="./assets/css/script.js"></script>
</body>
</html>