<link rel="stylesheet" href="/css/card.css">
<body>
    <header>
        <h1>Land Cards</h1>
        <a href="/cards" class="back-button">Back to Main</a>
    </header>
    <main>
        <div class="card-container">
            <div class="card">
                <img class="card-img" src="/images/land/caveofthefrostdragon.png" alt="">
                <img class="card-img" src="/images/land/caveofthefrostdragonn.png" alt="">
                <img class="card-img" src="/images/land/denofthebugbear.png" alt="">
                <img class="card-img" src="/images/land/denofthebugbearr.png" alt="">
                <img class="card-img" src="/images/land/dungeondescent.png" alt="">
                <img class="card-img" src="/images/land/dungeondescrent.png" alt="">
                <img class="card-img" src="/images/land/evolvingwilds.png" alt="">
                <img class="card-img" src="/images/land/evolvingwildss.png" alt="">
                <img class="card-img" src="/images/land/forest.png" alt="">
                <img class="card-img" src="/images/land/forestt.png" alt="">
                <img class="card-img" src="/images/land/foresttt.png" alt="">
                <img class="card-img" src="/images/land/hallofthestormgiants.png" alt="">
                <img class="card-img" src="/images/land/hallofthestormgiantss.png" alt="">
                <img class="card-img" src="/images/land/hiveoftheeyetyrant.png" alt="">
                <img class="card-img" src="/images/land/hiveoftheeyetyrantt.png" alt="">
                <img class="card-img" src="/images/land/island.png" alt="">
                <img class="card-img" src="/images/land/islandd.png" alt="">
                <img class="card-img" src="/images/land/islanddd.png" alt="">
                <img class="card-img" src="/images/land/islandddd.png" alt="">
                <img class="card-img" src="/images/land/lairofthehydra.png" alt="">
                <img class="card-img" src="/images/land/lairofthehydraa.png" alt="">
                <img class="card-img" src="/images/land/mountain.png" alt="">
                <img class="card-img" src="/images/land/mountainn.png" alt="">
                <img class="card-img" src="/images/land/mountainnn.png" alt="">
                <img class="card-img" src="/images/land/mountains.png" alt="">
                <img class="card-img" src="/images/land/plains.png" alt="">
                <img class="card-img" src="/images/land/plainss.png" alt="">
                <img class="card-img" src="/images/land/plainsss.png" alt="">
                <img class="card-img" src="/images/land/plainssss.png" alt="">
                <img class="card-img" src="/images/land/swamp.png" alt="">
                <img class="card-img" src="/images/land/swampp.png" alt="">
                <img class="card-img" src="/images/land/swamppp.png" alt="">
                <img class="card-img" src="/images/land/swampppp.png" alt="">
                <img class="card-img" src="/images/land/templeofthedragonqueen.png" alt="">
                <img class="card-img" src="/images/land/templeofthedragonqueenn.png" alt="">
                <img class="card-img" src="/images/land/treasurevault.png" alt="">
                <img class="card-img" src="/images/land/treasurevaultt.png" alt="">
            </div>
        </div>
    </main>
</body>
