<div class="card login-card">
    <h1>Login</h1>
    <form id="login-form">
        <div class="login-input">
            <label class="field" for="username">Username:</label>
            <input class="field" type="text" id="username" name="username">
        </div>
        <div class="login-input">
            <label class="field" for="password">Password:</label>
            <input class="field" type="password" id="password" name="password">
        </div>
        <button class="btn btn-danger" type="submit" id="login-submit">Login</button>
    </form>
</div>
<div class="card login-card">
    <h3>New here? Sign up now!</h3>
    <a class="btn btn-danger" id="register-btn" href="/register">Register</a>
</div>

{{!-- Link to login script --}}
<script src="/js/login.js"></script>