<link rel="stylesheet" href="/css/card.css">
<body>
    <header>
        <h1>Multicolored Cards</h1>
        <a href="/cards" class="back-button">Back to Main</a>
    </header>
    <main>
        <div class="card-container">
            <div class="card">
              <img class="card-img" src="/images/multicolored/adultgolddragon.png" alt="">
                <img class="card-img" src="/images/multicolored/adultgolddragonn.png" alt="">
                <img class="card-img" src="/images/multicolored/bardclass.png" alt="">
                <img class="card-img" src="/images/multicolored/barrowinofclanundurr.png" alt="">
                <img class="card-img" src="/images/multicolored/barrowonofclanundurr.png" alt="">
                <img class="card-img" src="/images/multicolored/bruenorbattlehammer.png" alt="">
                <img class="card-img" src="/images/multicolored/bruenorbattlehammerr.png" alt="">
                <img class="card-img" src="/images/multicolored/cattibrieofmithralhall.png" alt="">
                <img class="card-img" src="/images/multicolored/dragonbornchampion.png" alt="">
                <img class="card-img" src="/images/multicolored/drizztdourden.png" alt="">
                <img class="card-img" src="/images/multicolored/drizztdourdenn.png" alt="">
                <img class="card-img" src="/images/multicolored/extractbrain.png" alt="">
                <img class="card-img" src="/images/multicolored/faridehdevilschosen.png" alt="">
                <img class="card-img" src="/images/multicolored/faridehdevilschosenn.png" alt="">
                <img class="card-img" src="/images/multicolored/feveredsuspicion.png" alt="">
                <img class="card-img" src="/images/multicolored/fighterclass.png" alt="">
                <img class="card-img" src="/images/multicolored/galeakindlerofhope.png" alt="">
                <img class="card-img" src="/images/multicolored/gretchentitchwillow.png" alt="">
                <img class="card-img" src="/images/multicolored/gretchentitchwilloww.png" alt="">
                <img class="card-img" src="/images/multicolored/hamapasharruinseeker.png" alt="">
                <img class="card-img" src="/images/multicolored/hamapasharruinseekerr.png" alt="">
                <img class="card-img" src="/images/multicolored/hurlthroughhell.png" alt="">
                <img class="card-img" src="/images/multicolored/kalainreclusivepainter.png" alt="">
                <img class="card-img" src="/images/multicolored/kalainreclusivepainterr.png" alt="">
                <img class="card-img" src="/images/multicolored/karazikartheeyetyrant.png" alt="">
                <img class="card-img" src="/images/multicolored/klauthswill.png" alt="">
                <img class="card-img" src="/images/multicolored/klauthunrivaledancient.png" alt="">
                <img class="card-img" src="/images/multicolored/krydleofbaldursgate.png" alt="">
                <img class="card-img" src="/images/multicolored/krydleofbaldursgatee.png" alt="">
                <img class="card-img" src="/images/multicolored/midnightpathlighter.png" alt="">
                <img class="card-img" src="/images/multicolored/minscbelovedranger.png" alt="">
                <img class="card-img" src="/images/multicolored/minscbelovedrangerr.png" alt="">
                <img class="card-img" src="/images/multicolored/monkclass.png" alt="">
                <img class="card-img" src="/images/multicolored/nihiloor.png" alt="">
                <img class="card-img" src="/images/multicolored/orcusprinceofundeath.png" alt="">
                <img class="card-img" src="/images/multicolored/orcusprinceofundeathh.png" alt="">
                <img class="card-img" src="/images/multicolored/prospertomebound.png" alt="">
                <img class="card-img" src="/images/multicolored/ridetheavalanche.png" alt="">
                <img class="card-img" src="/images/multicolored/rogueclas.png" alt="">
                <img class="card-img" src="/images/multicolored/sefrisofthehiddenways.png" alt="">
                <img class="card-img" src="/images/multicolored/shessradeathswisper.png" alt="">
                <img class="card-img" src="/images/multicolored/shessradeathswisperr.png" alt="">
                <img class="card-img" src="/images/multicolored/skeletalswarming.png" alt="">
                <img class="card-img" src="/images/multicolored/skeletalswarmingg.png" alt="">
                <img class="card-img" src="/images/multicolored/sorcererclass.png" alt="">
                <img class="card-img" src="/images/multicolored/storvaldfrostgiantjarl.png" alt="">
                <img class="card-img" src="/images/multicolored/targnardemonfanggnoll.png" alt="">
                <img class="card-img" src="/images/multicolored/tiamat.png" alt="">
                <img class="card-img" src="/images/multicolored/tiamatt.png" alt="">
                <img class="card-img" src="/images/multicolored/trelasarramoondancer.png" alt="">
                <img class="card-img" src="/images/multicolored/trelasarramoondancerr.png" alt="">
                <img class="card-img" src="/images/multicolored/triumphantadventure.png" alt="">
                <img class="card-img" src="/images/multicolored/triumphantadventuree.png" alt="">
                <img class="card-img" src="/images/multicolored/wulfgaroficewinddale.png" alt="">
                <img class="card-img" src="/images/multicolored/xanartharguildkingpin.png" alt="">
                <img class="card-img" src="/images/multicolored/xanatharguildkingpin.png" alt="">
                <img class="card-img" src="/images/multicolored/yologuidetomonsters.png" alt="">
                <img class="card-img" src="/images/multicolored/yologuidetomonsterss.png" alt="">
                <img class="card-img" src="/images/multicolored/yrondissrageofancients.png" alt="">
            </div>
        </div>
    </main>
</body>