<link rel="stylesheet" href="/css/card.css">
<body>
    <header>
        <h1>Red Cards</h1>
        <a href="/cards" class="back-button">Back to Main</a>
    </header>
    <main>
        <div class="card-container">
            <div class="card">
                <img class="card-img" src="/images/red/armoryveteran.png" alt="">
                <img class="card-img" src="/images/red/barbarianclass.png" alt="">
                <img class="card-img" src="/images/red/battlecrygoblin.png" alt="">
                <img class="card-img" src="/images/red/berserkersfrenzy.png" alt="">
                <img class="card-img" src="/images/red/bootsofspeed.png" alt="">
                <img class="card-img" src="/images/red/brazendwarf.png" alt="">
                <img class="card-img" src="/images/red/burninghands.png" alt="">
                <img class="card-img" src="/images/red/chaoschanneler.png" alt="">
                <img class="card-img" src="/images/red/chaosdragon.png" alt="">
                <img class="card-img" src="/images/red/criticlehit.png" alt="">
                <img class="card-img" src="/images/red/delinawildmage.png" alt="">
                <img class="card-img" src="/images/red/delinawildmagee.png" alt="">
                <img class="card-img" src="/images/red/dragonsfire.png" alt="">
                <img class="card-img" src="/images/red/duelingrapier.png" alt="">
                <img class="card-img" src="/images/red/earthcultelemental.png" alt="">
                <img class="card-img" src="/images/red/faridehsfireball.png" alt="">
                <img class="card-img" src="/images/red/flameskull.png" alt="">
                <img class="card-img" src="/images/red/flameskulll.png" alt="">
                <img class="card-img" src="/images/red/friendlash.png" alt="">
                <img class="card-img" src="/images/red/goblinjavelineer.png" alt="">
                <img class="card-img" src="/images/red/goblinjavelineerr.png" alt="">
                <img class="card-img" src="/images/red/hoardingogre.png" alt="">
                <img class="card-img" src="/images/red/hobgoblinbanditlord.png" alt="">
                <img class="card-img" src="/images/red/hobgoblinbanditlordd.png" alt="">
                <img class="card-img" src="/images/red/hobgoblincaptain.png" alt="">
                <img class="card-img" src="/images/red/hulkingbugbear.png" alt="">
                <img class="card-img" src="/images/red/hulkingbugbearr.png" alt="">
                <img class="card-img" src="/images/red/improvisedweaponry.png" alt="">
                <img class="card-img" src="/images/red/infernoofthestarmounts.png" alt="">
                <img class="card-img" src="/images/red/infernoofthstarmounts.png" alt="">
                <img class="card-img" src="/images/red/jadedsellsword.png" alt="">
                <img class="card-img" src="/images/red/kickinthdoor.png" alt="">
                <img class="card-img" src="/images/red/maddeninghex.png" alt="">
                <img class="card-img" src="/images/red/magicmissile.png" alt="">
                <img class="card-img" src="/images/red/magicmissilee.png" alt="">
                <img class="card-img" src="/images/red/meteorswarm.png" alt="">
                <img class="card-img" src="/images/red/meteorswarmm.png" alt="">
                <img class="card-img" src="/images/red/minionofthemighty.png" alt="">
                <img class="card-img" src="/images/red/minionofthemightyy.png" alt="">
                <img class="card-img" src="/images/red/orbofdragonkind.png" alt="">
                <img class="card-img" src="/images/red/orbofdragonkindd.png" alt="">
                <img class="card-img" src="/images/red/plunderingbarbarian.png" alt="">
                <img class="card-img" src="/images/red/priceofloyalty.png" alt="">
                <img class="card-img" src="/images/red/recklessendeavor.png" alt="">
                <img class="card-img" src="/images/red/reddragon.png" alt="">
                <img class="card-img" src="/images/red/reddragonn.png" alt="">
                <img class="card-img" src="/images/red/rustmonster.png" alt="">
                <img class="card-img" src="/images/red/rustmonsterr.png" alt="">
                <img class="card-img" src="/images/red/sharethespoils.png" alt="">
                <img class="card-img" src="/images/red/swarminggoblins.png" alt="">
                <img class="card-img" src="/images/red/tigertribehunter.png" alt="">
                <img class="card-img" src="/images/red/unexpectedwindfall.png" alt="">
                <img class="card-img" src="/images/red/valorsinger.png" alt="">
                <img class="card-img" src="/images/red/vengefulancestor.png" alt="">
                <img class="card-img" src="/images/red/wildmagicsorcerer.png" alt="">
                <img class="card-img" src="/images/red/wish.png" alt="">
                <img class="card-img" src="/images/red/wishh.png" alt="">
                <img class="card-img" src="/images/red/xorn.png" alt="">
                <img class="card-img" src="/images/red/xornn.png" alt="">
                <img class="card-img" src="/images/red/youcometothegnollcamp.png" alt="">
                <img class="card-img" src="/images/red/youfindsomeprisoners.png" alt="">
                <img class="card-img" src="/images/red/youseeapairofgoblins.png" alt="">
                <img class="card-img" src="/images/red/zaltofiregiantduke.png" alt="">
                <img class="card-img" src="/images/red/zaltofiregiantdukee.png" alt="">
                <img class="card-img" src="/images/red/zarielarchdukeofavernus.png" alt="">
                <img class="card-img" src="/images/red/zarielarchdukeofronus.png" alt="">
            
            </div>
        </div>
    </main>
</body>
