<link rel="stylesheet" href="/css/card.css">
<body>
    <header>
        <h1>red Cards</h1>
        <a href="/cards" class="back-button">Back to Main</a>
    </header>
    <main>
        <div class="card-container">
            <div class="card">
                <img src="/images/white_card1.jpg" alt="White Card 1">
                <h2>White Card 1</h2>
                <p>Description of White Card 1.</p>
            </div>
            <div class="card">
                <img src="/images/white_card2.jpg" alt="White Card 2">
                <h2>White Card 2</h2>
                <p>Description of White Card 2.</p>
            </div>
        </div>
    </main>
</body>
