  <main>
        <div>
            <section id="singlestoryheader">
                <h2>
                    Story Submission
                </h2>
            </section id="singlestorysection">
             <h3>{{story.name}}</h3>
             <p>{{story.author}}</p>

             <h3>Description:</h3>
             <p>{{story.description}}</p>
            </section>

           

             
        </div>
        
    </main>