    <main>
        <div>
            <section id="singleruleheader">
                <h2>
                    Rule Submission
                </h2>
            </section id="singlerulesection">
             <h3>{{rule.title}}</h3>
             <p>{{rule.author}}</p>

             <h3>Description:</h3>
             <p>{{rule.description}}</p>
            </section>

           

             
        </div>
        
    </main>