<link rel="stylesheet" href="/css/card.css">
<body>
    <header>
        <h1>White Cards</h1>
        <a href="/cards" class="back-button">Back to Main</a>
    </header>
    <main>
        <div class="card-container">
            <div class="card">
              <img class="card-img" src="/images/white/+2mace.png" alt="">
              <img class="card-img" src="/images/white/arboreapegasus.png" alt="">
              <img class="card-img" src="/images/white/arboreapegasuss.png" alt=""> 
              <img class="card-img" src="/images/white/blinkdog.png" alt="">
              <img class="card-img" src="/images/white/blinkdogg.png" alt="">
              <img class="card-img" src="/images/white/celestialunicorn.png" alt="">
              <img class="card-img" src="/images/white/celestialunicornn.png" alt=""> 
              <img class="card-img" src="/images/white/clericclass.png" alt="">
              <img class="card-img" src="/images/white/cloistergargoyle.png" alt="">
              <img class="card-img" src="/images/white/cloistergargoylee.png" alt="">
              <img class="card-img" src="/images/white/dancingsword.png" alt=""> 
              <img class="card-img" src="/images/white/dancingswordd.png" alt="">
              <img class="card-img" src="/images/white/dawnbringercleric.png" alt="">
              <img class="card-img" src="/images/white/delverstorch.png" alt="">
              <img class="card-img" src="/images/white/devotedpaladin.png" alt=""> 
              <img class="card-img" src="/images/white/divinesmite.png" alt="">
              <img class="card-img" src="/images/white/dragonsdisciple.png" alt="">
              <img class="card-img" src="/images/white/dwarfholdchampion.png" alt="">
              <img class="card-img" src="/images/white/feysteed.png" alt=""> 
              <img class="card-img" src="/images/white/flump.png" alt="">
              <img class="card-img" src="/images/white/flumph.png" alt="">
              <img class="card-img" src="/images/white/gloomstalker.png" alt="">
              <img class="card-img" src="/images/white/grandmasterofflowers.png" alt=""> 
              <img class="card-img" src="/images/white/grandmasterofflowerss.png" alt="">
              <img class="card-img" src="/images/white/guardianoffaith.png" alt="">
              <img class="card-img" src="/images/white/guardianoffaithh.png" alt="">
              <img class="card-img" src="/images/white/halfelfmonk.png" alt=""> 
              <img class="card-img" src="/images/white/holyavenger.png" alt="">
              <img class="card-img" src="/images/white/icingdeathfrosttyrant.png" alt="">
              <img class="card-img" src="/images/white/icingdeathfrosttyrantt.png" alt="">
              <img class="card-img" src="/images/white/immovablerod.png" alt=""> 
              <img class="card-img" src="/images/white/ingenioussmith.png" alt="">
              <img class="card-img" src="/images/white/keenearedsentry.png" alt="">
              <img class="card-img" src="/images/white/loyalwarhound.png" alt="">
              <img class="card-img" src="/images/white/loyalwarhoundd.png" alt=""> 
              <img class="card-img" src="/images/white/manteloftheancients.png" alt="">
              <img class="card-img" src="/images/white/minimuscontainment.png" alt="">
              <img class="card-img" src="/images/white/monkoftheopenhand.png" alt="">
              <img class="card-img" src="/images/white/moonblessedcleric.png" alt=""> 
              <img class="card-img" src="/images/white/nadaarselflesspaladin.png" alt="">
              <img class="card-img" src="/images/white/nadaarselflesspaladinn.png" alt="">
              <img class="card-img" src="/images/white/oswaldfiddlebender.png" alt="">
              <img class="card-img" src="/images/white/oswaldfiddlebenderr.png" alt=""> 
              <img class="card-img" src="/images/white/paladinclass.png" alt="">
              <img class="card-img" src="/images/white/paladinsshield.png" alt="">
              <img class="card-img" src="/images/white/planarally.png" alt="">
              <img class="card-img" src="/images/white/platearmor.png" alt=""> 
              <img class="card-img" src="/images/white/portablehole.png" alt="">
              <img class="card-img" src="/images/white/portableholee.png" alt="">
              <img class="card-img" src="/images/white/potionofhealing.png" alt="">
              <img class="card-img" src="/images/white/priestofancientlove.png" alt=""> 
              <img class="card-img" src="/images/white/radiantsolar.png" alt="">
              <img class="card-img" src="/images/white/rallymaneuver.png" alt="">
              <img class="card-img" src="/images/white/rangershawk.png" alt="">
              <img class="card-img" src="/images/white/revivfy.png" alt=""> 
              <img class="card-img" src="/images/white/robeofstars.png" alt="">
              <img class="card-img" src="/images/white/steadfastpaladin.png" alt="">
              <img class="card-img" src="/images/white/teleportationcircle.png" alt="">
              <img class="card-img" src="/images/white/teleportationcirclee.png" alt=""> 
              <img class="card-img" src="/images/white/thebookofeaxalteddeeds.png" alt="">
              <img class="card-img" src="/images/white/thebookofexalteddeeds.png" alt="">
              <img class="card-img" src="/images/white/thoroughinvestigation.png" alt="">
              <img class="card-img" src="/images/white/valiantendevor.png" alt=""> 
              <img class="card-img" src="/images/white/veterandungeoneer.png" alt="">
              <img class="card-img" src="/images/white/whitedragon.png" alt="">
              <img class="card-img" src="/images/white/whitedragonn.png" alt="">
              <img class="card-img" src="/images/white/youhearsomethingonwatch.png" alt=""> 
              <img class="card-img" src="/images/white/youreambusedontheroad.png" alt="">
            </div>
            <!-- Add more white cards as needed -->
        </div>
    </main>
</body>