body {
  min-height: 100vh;
  min-width: 100%;
  margin: 0;
  display: grid;
  grid-template-columns: auto 1fr auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url(/images/logo.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
}

.nav-link {
  margin: 10px;
}

.options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.option-card {
  width: 45%;
  margin: 2%;
  padding: 10px;
  text-align: center;
}

.about {
  padding: 5px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.developer {
  padding: 10px;
}

.login-card {
  text-align: center;
  padding: 20px;
  width: 50%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.login-input {
  display: flex;
  justify-content: space-around;
}

.field {
  width: 50%;
  text-align: center;
  margin: 10px;
}

#register-btn {
  width: 30%;
  margin: 0 auto;
}

.menu-card {
  padding: 20px;
  width: 80%;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.dice {
  padding: 20px; /* Adjust padding as needed */
  border: none;
  border-radius: 15px; /* Rounded corners */
  background-color: transparent; /* Set background to transparent */
  cursor: pointer;
  transition: transform 0.5s; /* Smooth transition for transform */
}

.dice img {
  width: 100px; /* Set the width of the image */
  height: auto; /* Maintain aspect ratio */
}

.aligndice {
  display: flex;
}

/* Animation for spinning */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dice:hover {
  animation: spin 0.5s linear infinite; /* Spin continuously while hovering */
}

#singlecharheader {
  display: flex;
  background-color: white;
  justify-content: center;
}

#abilityscrlist {
  list-style-type: none;
  display: flex;
}

#abilityscrlist li {
  padding: 10px;
  margin: 10px;
  width: 10%;
}

.content-card {
  width: 80%;
  margin: 0 auto;
}

.comment-section {
  margin-top: 20px;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.comment-btn {
  display: block;
  margin: 0 auto;
  width: 30%;
  margin-bottom: 20px;
}
