#full-screen {
    min-height: 100vh;
    margin: 0;
    display: grid; grid-template-rows: auto 1fr auto;
    background-repeat: no-repeat;
    background-size: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(/images/logo.png)
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}

.nav-link {
    margin: 10px;
}

.options {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.option-card {
    width: 45%;
    margin: 2%;
    text-align: center;
}

.about {
    padding: 5px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.developer {
    padding: 10px;
}

.login-card {
    text-align: center;
    padding: 20px;
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.login-input {
    display: flex;
    justify-content: space-around;
}

.field {
    width: 50%;
    text-align: center;
    margin: 10px;
}

#register-btn {
    width: 30%;
    margin: 0 auto;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.dice {
    padding: 20px; /* Adjust padding as needed */
    border: none;
    border-radius: 15px; /* Rounded corners */
    background-color: transparent; /* Set background to transparent */
    cursor: pointer;
    transition: transform 0.5s; /* Smooth transition for transform */
}

.dice img {
    width: 100px; /* Set the width of the image */
    height: auto; /* Maintain aspect ratio */
}

/* Animation for spinning */
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.dice:hover {
    animation: spin .5s linear infinite; /* Spin continuously while hovering */
}