<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>artifact Cards</title>
    <link rel="stylesheet" href="./assets/css/style.css">
</head>
<body>
    <header>
        <h1>artifact Cards</h1>
        <a href="cards.handlebars" class="back-button">Back to Main</a>
    </header>
    <main>
        <div class="card-container">
            <div class="card">
                <img src="./assets/images/artifact/bagofholding.png" alt="">
                <img src="./assets/images/artifact/dungeonmap.png" alt="">
                <img src="./assets/images/artifact/eyeofvecna.png" alt="">
                <img src="./assets/images/artifact/eyeofvecnaa.png" alt="">
                <img src="./assets/images/artifact/fiftyfeetofrope.png" alt="">
                <img src="./assets/images/artifact/greataxe.png" alt="">
                <img src="./assets/images/artifact/handofvecna.png" alt="">
                <img src="./assets/images/artifact/handofvecnaa.png" alt="">
                <img src="./assets/images/artifact/Irongolem.png" alt="">
                <img src="./assets/images/artifact/irongolemm.png" alt="">
                <img src="./assets/images/artifact/leatherarmor.png" alt="">
                <img src="./assets/images/artifact/mimc.png" alt="">
                <img src="./assets/images/artifact/sparedagger.png" alt="">
                <img src="./assets/images/artifact/spikedpittrap.png" alt="">
                <img src="./assets/images/artifact/thedeckofmanythings.png" alt="">
                <img src="./assets/images/artifact/thedeckofmanythingss.png" alt="">
                <img src="./assets/images/artifact/treasurechest.png" alt="">
                <img src="./assets/images/artifact/treasurechestt.png" alt="">
                <img src="./assets/images/artifact/treasurechesttt.png" alt="">
        </div>
    </main>
    <script src="./assets/css/script.js"></script>
</body>
</html>