<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>black Cards</title>
    <link rel="stylesheet" href="./assets/css/style.css">
</head>
<body>
    <header>
        <h1>black Cards</h1>
        <a href="cards.handlebars" class="back-button">Back to Main</a>
    </header>
    <main>
        <div class="card-container">
            <div class="card">
                <img src="./assets/images/black/acererakthearchlich.png" alt="">
                <img src="./assets/images/black/acererakthearchlichh.png" alt="">
                <img src="./assets/images/black/asmodeousthearchfiend.png" alt="">
                <img src="./assets/images/black/asmodeusthearchfiend.png" alt="">
                <img src="./assets/images/black/bagofdevouring.png" alt="">
                <img src="./assets/images/black/balefulbeholder.png" alt="">
                <img src="./assets/images/black/balefulbeholderr.png" alt="">
                <img src="./assets/images/black/blackdragon.png" alt="">
                <img src="./assets/images/black/blackdragonn.png" alt="">
                <img src="./assets/images/black/checkfortraps.png" alt="">
                <img src="./assets/images/black/clatteringskeletons.png" alt="">
                <img src="./assets/images/black/clatteringskeletonss.png" alt="">
                <img src="./assets/images/black/dansemacabre.png" alt="">
                <img src="./assets/images/black/deadlydispute.png" alt="">
                <img src="./assets/images/black/deathpriestofmyrkul.png" alt="">
                <img src="./assets/images/black/deathtyrant.png" alt="">
                <img src="./assets/images/black/demorgorgonsclutches.png" alt="">
                <img src="./assets/images/black/devourintellect.png" alt="">
                <img src="./assets/images/black/drider.png" alt="">
                <img src="./assets/images/black/dungeoncrawler.png" alt="">
                <img src="./assets/images/black/ebondeathdracolich.png" alt="">
                <img src="./assets/images/black/ebondeathdracolichh.png" alt="">
                <img src="./assets/images/black/eyesofthebeholder.png" alt="">
                <img src="./assets/images/black/fatesreversal.png" alt="">
                <img src="./assets/images/black/feigndeath.png" alt="">
                <img src="./assets/images/black/forswornpaladin.png" alt="">
                <img src="./assets/images/black/forswornpaladinn.png" alt="">
                <img src="./assets/images/black/gelatinouscube.png" alt="">
                <img src="./assets/images/black/gelatinouscubee.png" alt="">
                <img src="./assets/images/black/graveendeavor.png" alt="">
                <img src="./assets/images/black/grimbounty.png" alt="">
                <img src="./assets/images/black/grimhireiling.png" alt="">
                <img src="./assets/images/black/grimwandere.png" alt="">
                <img src="./assets/images/black/hellishrebuke.png" alt="">
                <img src="./assets/images/black/heraldofhadar.png" alt="">
                <img src="./assets/images/black/hiredhexblade.png" alt="">
                <img src="./assets/images/black/hoaredrobber.png" alt="">
                <img src="./assets/images/black/lightfootrogue.png" alt="">
                <img src="./assets/images/black/lolthspiderqueen.png" alt="">
                <img src="./assets/images/black/lolthspiderqueenn.png" alt="">
                <img src="./assets/images/black/lorcanwarlockcollector.png" alt="">
                <img src="./assets/images/black/manticore.png" alt="">
                <img src="./assets/images/black/manticoree.png" alt="">
                <img src="./assets/images/black/powerwordkill.png" alt="">
                <img src="./assets/images/black/powerwordkilll.png" alt="">
                <img src="./assets/images/black/precipitousdrop.png" alt="">
                <img src="./assets/images/black/rayofenfeeblement.png" alt="">
                <img src="./assets/images/black/reaperstailsman.png" alt="">
                <img src="./assets/images/black/sepulcherghoul.png" alt="">
                <img src="./assets/images/black/shamblingghast.png" alt="">
                <img src="./assets/images/black/skullportmerchant.png" alt="">
                <img src="./assets/images/black/sphereofannihilation.png" alt="">
                <img src="./assets/images/black/thebookofviledarkness.png" alt="">
                <img src="./assets/images/black/thebookofviledarknesss.png" alt="">
                <img src="./assets/images/black/thievestools.png" alt="">
                <img src="./assets/images/black/vampirespawn.png" alt="">
                <img src="./assets/images/black/vorpalsword.png" alt="">
                <img src="./assets/images/black/vorpalswordd.png" alt="">
                <img src="./assets/images/black/vorpalsworddd.png" alt="">
                <img src="./assets/images/black/wandoforcus.png" alt="">
                <img src="./assets/images/black/warlockclass.png" alt="">
                <img src="./assets/images/black/westgateregent.png" alt="">
                <img src="./assets/images/black/westgateregentt.png" alt="">
                <img src="./assets/images/black/wight.png" alt="">
                <img src="./assets/images/black/wightt.png" alt="">
                <img src="./assets/images/black/yuantfangblade.png" alt="">
                <img src="./assets/images/black/zombieorge.png" alt="">
            </div>
            <!-- Add more black cards as needed -->
        </div>
    </main>
    <script src="./assets/css/script.js"></script>
</body>
</html>
