<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blue Cards</title>
    <link rel="stylesheet" href="./assets/css/style.css">
</head>
<body>
    <header>
        <h1>blue Cards</h1>
        <a href="cards.handlebars" class="back-button">Back to Main</a>
    </header>
    <main>
        <div class="card-container">
            <div class="card">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                <img src="./assets/images/blue/" alt="">
                
                
                

            </div>
        </div>
    </main>
    <script src="./assets/css/script.js"></script>
</body>
</html>
