<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>D&D Card Directory</title>
    <link rel="stylesheet" href="./assets/css/style.css">
</head>
<body>
    <header>
        <h1>D&D Card Directory</h1>
    </header>
    <div class = "background">
    </div>
    <main>
        <div class="section-container">
            <h2 class="title">Select a Section</h2>
            <div class="section-buttons">
                <a href="white.handlebars" class="section-button">White</a>
                <a href="blue.handlebars" class="section-button">Blue</a>
                <a href="black.handlebars" class="section-button">Black</a>
                <a href="red.handlebars" class="section-button">Red</a>
                <a href="green.handlebars" class="section-button">Green</a>
                <a href="multicolored.handlebars" class="section-button">Multicolored</a>
                <a href="dungeon.handlebars" class="section-button">Dungeon</a>
                <a href="artifact.handlebars" class="section-button">Artifact</a>
                <a href="land.handlebars" class="section-button">Land</a>
            </div>
        </div>
    </main>
    <script src="./assets/css/script.js"></script>
</body>
</html>
